.top-menu-admin {
    &__logo {
      width: 250px;
      background-color: #c4c4c4 !important;
    }
  
    i.icon {
      margin: 0 !important;
    }
    p.titulo {
      color: #053742;
      text-align: center;
      font-size: 18px;
      
    }
  
  }
  .colorHeader{
    background-color: #E8F0F2;
  }
  .colorCompletoHeader{
    background-color: #053742;
  }
